/**
 * Created by Errol on 2016/6/4.
 */

html {
	font-family: "微软雅黑", sans-serif, Arial; /* 1 */
	background-color: #fbfbfb;
	font-size: 14px;
	-moz-user-select:none;/*火狐*/
	-webkit-user-select:none;/*webkit浏览器*/
	-ms-user-select:none;/*IE10*/
	-khtml-user-select:none;/*早期浏览器*/
	user-select:none;
}

body, ul {
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
	color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #999;
}